@using Asp_Mvc_2015_2016.Models
@model TypeWerk
<h3>Are you sure you want to delete this?</h3>
<div class="clearfix"></div>
<div>
    <h4>Algemeen</h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.WerkType)</dt>
        <dd>@Html.DisplayFor(m => m.WerkType)</dd>

        <dt>@Html.DisplayNameFor(m => m.GeldigVanaf)</dt>
        <dd>@Html.DisplayFor(m => m.GeldigVanaf)</dd>

        <dt>@Html.DisplayNameFor(m => m.TariefPerUur)</dt>
        <dd>@Html.DisplayFor(m => m.TariefPerUur) €</dd>
    </dl>
</div>
<div class="col-md-12">
    @using (Ajax.BeginForm("Delete",
                              new { id = Model.Id, controller = "TypeWerk" },
                              new AjaxOptions()
                              {
                                  HttpMethod = "POST",
                                  UpdateTargetId = "TypeWerkList",
                                  OnFailure = "fs.modalSaveFailed",
                                  OnSuccess = "fs.modalSaveSuccess"
                              }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@CultureResource.Delete" class="btn btn-danger pull-right" />
        </div>
    }
    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@CultureResource.Close</button>
</div>
<div class="clearfix"></div>