@using Asp_Mvc_2015_2016.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @CultureResource.AppTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(CultureResource.AppTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                                                  
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="Home" ? "active": "")">
                        <a href="@Url.Action("Index", "Home")">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                    </li>
                    
                    @if (User.IsInRole("Systeem Administrator"))
                    {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString()=="Gebruikers" ? "active": "")">
                            <a href="@Url.Action("Index", "Gebruikers")">
                                <span class="glyphicon glyphicon-user"></span>
                                @CultureResource.Users
                            </a>
                            @*@Html.ActionLink(CultureResource.Users, "Index", "Gebruikers")*@
                        </li>
                    }
                    
                    @if (User.IsInRole("Systeem Administrator") || User.IsInRole("Departement Administrator"))
                    {                                          
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Departement" ? "active" : "")">
                            @Html.ActionLink(CultureResource.Departments, "Index", "Departement")
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_CulturePartial")
            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery.unobstrusive-ajax.min.js")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/main") <!-- Kan niet in een partial view staan. Hoort bij _CulturePartial -->
</body>
</html>
