@model IEnumerable<Asp_Mvc_2015_2016.Models.FactuurDetails>
<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>Titel</th>
        <th>Omschrijving</th>
        <th>Klant</th>
        <th>lijnwaarde</th>
        <th># <abbr title="Niet Gefactureerde Uurregistraties">N.G.U.</abbr></th>
        <th>Totaal <abbr title="Niet Gefactureerd">N.G.</abbr></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Titel</td>
            <td>@item.Omschrijving</td>
            <td>@Html.ActionLink(item.Klant.NaamBedrijf, "Details", new { controller = "Klant", id = item.KlantId })</td>
            <td>@item.lijnwaarde</td>
            <td>@item.NietGefactureerdeUren.Count</td>
            <td>@String.Format("{0:#.##} €", item.NietGefactureerdeUren.Sum(p => p.Total))</td>
            <td>
                @Ajax.ActionLink(CultureResource.Edit,
                     "Load_Form",
               new { type = "FormEdit", id = item.Id, returnPage = "UnbilledList", controller = "FactuurDetails" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = "Factuur Edit: " + item.Titel }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, controller = "FactuurDetails" })
                @{
        if (item.GefactureerdeUren.Count == 0)
        {
            Write(" | ");
            @Ajax.ActionLink(CultureResource.Delete,
                     "Load_Form",
                          new { type = "FormDelete", id = item.Id, controller = "FactuurDetails" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = "Factuur Delete: " + item.Titel });
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        }
                }
                |
                @Ajax.ActionLink("Uren Toevoegen",
                     "Load_Form",
               new { type = "FormCreate", detailId = item.Id, returnPage = "UnbilledList", controller = "UurRegistraties" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = "Uren toevoegen: " + item.Titel })

                @*@Html.ActionLink("Uren toevoegen", "Create", new { controller = "UurRegistraties", DetailId = item.Id })*@
            </td>
        </tr>
    }

</table>