@model Asp_Mvc_2015_2016.Models.FactuurDetails

@{
    ViewBag.Title = "Factuur Details";
}


<h4>Facturatie Details</h4>
<p class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>
<div class="clearfix"></div>
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(m => m.Titel)</dt>
    <dd>@Model.Titel</dd>

    <dt>@Html.DisplayNameFor(m => m.Klant)</dt>
    <dd>
        @Html.DisplayTextFor(_ => Model.Klant.NaamBedrijf)
        (BTW-BE: @Html.DisplayTextFor(_ => Model.Klant.Ondernemingsnr))
    </dd>

    <dt>@Html.DisplayNameFor(m => m.Klant.Plaats)</dt>
    <dd>
        @Html.DisplayTextFor(_ => Model.Klant.StraatNr),
        (@Html.DisplayTextFor(_ => Model.Klant.Postcode))
        @Html.DisplayTextFor(_ => Model.Klant.Plaats)
    </dd>

    <dt>@Html.DisplayNameFor(m => m.Omschrijving)</dt>
    <dd>@Model.Omschrijving</dd>

    <dt>@Html.DisplayNameFor(m => m.lijnwaarde)</dt>
    <dd>@Model.lijnwaarde</dd>

    <dt>@Html.DisplayNameFor(m => m.GefactureerdeUren)</dt>
    <dd>@(Model.GefactureerdeUren == null ? "None" : Model.GefactureerdeUren.Count.ToString())</dd>

    <dt>@Html.DisplayNameFor(m => m.NietGefactureerdeUren)</dt>
    <dd>@(Model.NietGefactureerdeUren == null ? "None" : Model.NietGefactureerdeUren.Count.ToString())</dd>
</dl>

<p class="pull-right">@Html.ActionLink("Uren toevoegen", "Create", new { controller = "UurRegistraties", DetailId = Model.Id })</p>
<h4>Niet Gefactureerde Uurregistraties</h4>
<table class="table table-striped table-hover ">
    <tr>
        <th>factuurDetails</th>
        <th>StartDatum</th>
        <th>EindDatum</th>
        <th>TypeWerk</th>
        <th>Totaal</th>
        <th>TeFactureren</th>
        <th>Gefactureerd?</th>
        <th></th>
    </tr>    
    @if (Model.uurRegistratie != null)
    {
        foreach (var item in Model.NietGefactureerdeUren)
        {
            <tr>
                <td>@Html.DisplayTextFor(_ => item.FactuurDetail.Titel)</td>
                <td>@String.Format("{0:g}", item.StartDatum)</td>
                <td>@String.Format("{0:g}", item.EindDatum)</td>
                <td>@Html.DisplayTextFor(_ => item.TypeWerk.WerkType)</td>
                <td>@String.Format("{0:#.##}", item.Total) €</td>
                <td>@(item.TeFactureren ? "Yes" : "No")</td>
                <td>@(item.FactuurId != null ? "Yes" : "No")</td>
                <td>                    
                    @Html.ActionLink("Edit", "Edit", new { controller = "UurRegistraties", id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { controller = "UurRegistraties", id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { controller = "UurRegistraties", id = item.Id })                                               
                </td>
            </tr>
        }
    }
</table>

<h4>Gefactureerde Uurregistraties</h4>
<table class="table table-striped table-hover ">
    <tr>
        <th>factuurDetails</th>
        <th>StartDatum</th>
        <th>EindDatum</th>
        <th>TypeWerk</th>
        <th>Totaal</th>
        <th>FactuurNr</th>
        <th></th>
    </tr>
    @if (Model.uurRegistratie != null)
    {
        foreach (var item in Model.GefactureerdeUren)
        {
            <tr>
                <td>@Html.DisplayTextFor(_ => item.FactuurDetail.Titel)</td>
                <td>@String.Format("{0:g}", item.StartDatum)</td>
                <td>@String.Format("{0:g}", item.EindDatum)</td>
                <td>@Html.DisplayTextFor(_ => item.TypeWerk.WerkType)</td>
                <td>@String.Format("{0:#.##}", item.Total) €</td>
                <td>@Html.ActionLink(item.Factuur.FactuurNr,"Details", new { controller = "Factuur", id = item.FactuurId })</td>
                <td>                                        
                    @Html.ActionLink("Details", "Details", new { controller = "UurRegistraties", id = item.Id })                    
                </td>

            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Back to billed services list", "BilledList") |
    @Html.ActionLink("Back to unbilled services list", "UnbilledList")
</div>



