@model IEnumerable<Asp_Mvc_2015_2016.Models.FactuurDetails>

@{
    ViewBag.Title = "Niet Gefactureerde Factuur Details";
}

<h2>@ViewBag.Title</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Ajax.ActionLink(CultureResource.CreateNew,
                     "Load_User_Form",
                     new { type = "new" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = "Factuur Details: " + CultureResource.CreateNew })

</p>
<div id="UnbilledList">
    @Html.Partial("_UnbilledList", Model)
</div>
<div>
    Jump to: @Html.ActionLink("Billed services list", "BilledList")
</div>
@Html.Partial("_ModalDialog")
