@model Asp_Mvc_2015_2016.Models.Klant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ondernemingsnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ondernemingsnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaamBedrijf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaamBedrijf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StraatNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StraatNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaats)
        </dd>
    </dl>
</div>
@Html.Action("_GetDepartementForKlant", "Departement", new { kId = Model.Id })
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
