@using Asp_Mvc_2015_2016.Resources
@using Asp_Mvc_2015_2016.ViewModels
@using Asp_Mvc_2015_2016.Models
@model GenericUserFormViewModel<NewGebruiker>

@using (Ajax.BeginForm("User_Create", new AjaxOptions() { UpdateTargetId = "Gebruikerslijst", OnFailure = "NewUserFailed", OnSuccess = "NewUserSuccess" }))
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-6">
        <div class="form-group">            
            @Html.LabelFor(model => model.User.UserName, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    @*VB: ADDED COMBOBOX FOR ROLE *@
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.RoleName, new { @class = " control-label" })
            @if (User.IsInRole("Systeem Administrator"))
            {
                @Html.DropDownListFor(model => model.RoleName, Model.AllRoles, new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownListFor(model => model.RoleName, Model.AllRoles, new { @class = "form-control", disabled = "disabled" })
            }
            @Html.ValidationMessageFor(m => m.RoleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="clearfix"></div>    
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.User.Voornaam, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.Voornaam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Voornaam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(model => model.User.Achternaam, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.Achternaam, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Achternaam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.User.PhoneNumber, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.User.Gsm, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.User.Gsm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User.Gsm, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.User.Password, new { @class = " control-label" })
            @Html.PasswordFor(model => model.User.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.User.ConfirmPassword, new { @class = " control-label" })
            @Html.PasswordFor(model => model.User.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.User.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div id="UserResultMessage" class="alert alert-dismissible" hidden="hidden">
            <button type="button" class="close" onclick="$(this).parent('div#UserResultMessage').fadeOut()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span id="message"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="@CultureResource.Save" class="btn btn-primary pull-right" />
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">@CultureResource.Cancel</button>
        </div>
    </div>
    <div class="clearfix"></div>
}
