@using Asp_Mvc_2015_2016.Resources
@using Asp_Mvc_2015_2016.Models
@using Asp_Mvc_2015_2016.ViewModels
@using System.Collections.Generic
@model IEnumerable<Klant>

<h4>Klanten</h4>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.NaamBedrijf)</th>
            <th>@Html.DisplayNameFor(m => m.Ondernemingsnr)</th>
            <th>@Html.DisplayNameFor(m => m.Adres)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Klant item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.NaamBedrijf)</td>
                <td>@Html.DisplayFor(m => item.Ondernemingsnr)</td>
                <td>@*@Html.DisplayFor(m => item.Adres)*@</td>
            </tr>
        }
    </tbody>
</table>