@model Asp_Mvc_2015_2016.ViewModels.GebruikersIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Gsm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gsm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
