@using Asp_Mvc_2015_2016.Resources
@using Asp_Mvc_2015_2016.ViewModels
@using Asp_Mvc_2015_2016.Models
@model GebruikersIndexViewModel<NewGebruiker>
@{
    ViewBag.Title = CultureResource.Users;
}

<h2>
    @CultureResource.Users
<small>
    @*@Html.ActionLink(@CultureResource.CreateNew, "Create")*@
    @Ajax.ActionLink(CultureResource.CreateNew,
                     "Load_User_Form",
                     new { type = "new" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = CultureResource.User + ": " + CultureResource.CreateNew })
</small>
</h2>
<div id="Gebruikerslijst">
    @Html.Partial("_UsersListControl", Model.Users)
</div>

<h2>
    Typen Werk
    <small>
        @*@Html.ActionLink("Create New", "Create")*@
        @Ajax.ActionLink(CultureResource.CreateNew,
                     "Load_Form",
                     new { type = "FormCreateOrEdit", controller = "TypeWerk" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title = "Type Werk: " + CultureResource.CreateNew })

    </small>
</h2>
<div id="TypeWerkList">
    @Html.Partial("~/Views/TypeWerk/_TypeWerkList.cshtml", Model.AllWerkTypen)
</div>
@Html.Partial("_ModalDialog")
@section scripts { }
