@using Asp_Mvc_2015_2016.Resources
@using Asp_Mvc_2015_2016.ViewModels
@using Asp_Mvc_2015_2016.Models
@model GebruikersIndexViewModel<NewGebruiker>
@{
    ViewBag.Title = CultureResource.Users;
}

<h2>@CultureResource.Users</h2>

<p>
    @*@Html.ActionLink(@CultureResource.CreateNew, "Create")*@
    @Ajax.ActionLink(CultureResource.CreateNew,
                     "Load_User_Form",
                     new { type = "new" },
                     new AjaxOptions
                     {
                         LoadingElementId = "ModalAjaxLoading",
                         LoadingElementDuration = 250,
                         HttpMethod = "POST",
                         OnSuccess = "fs.modalSuccess",
                         OnBegin = "fs.modalBegin"
                     }, new { data_title=CultureResource.User + ": " + CultureResource.CreateNew})
</p>

<div id="Gebruikerslijst">
    @Html.Partial("_UsersListControl", Model.Users)
</div>
@Html.Partial("_ModalDialog")
@section scripts
{
    <script>
        $(function () { /* ONLOAD: nothing yet... */ })

        /*
        VB: TODO: CODE VERPLAATSEN NAAR main.js FILE ZODAT HERGEBRUIK VAN MODAL MOGELIJK IS OP ANDERE PAGINA'S.
        */


    </script>
}
