@using Asp_Mvc_2015_2016.ViewModels
@model CreateFactuurViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Factuur</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.FactuurVan, htmlAttributes: new { @class = "label label-primary col-md-2" })
            </h3>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FactuurVan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FactuurVan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.FactuurTot, htmlAttributes: new { @class = "label label-primary col-md-2" })
                </h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FactuurTot, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FactuurTot, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.Factuur.FactuurNr, htmlAttributes: new { @class = "label label-primary col-md-2" })
            </h3>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Factuur.FactuurNr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Factuur.FactuurNr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.Factuur.FactuurDatum, htmlAttributes: new { @class = "label label-primary col-md-2" })
                </h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Factuur.FactuurDatum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Factuur.FactuurDatum, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.Factuur.FactuurJaar, htmlAttributes: new { @class = "label label-primary col-md-2" })
                </h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Factuur.FactuurJaar, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Factuur.FactuurJaar, "", new { @class = "text-danger" })
                </div>
</div>

        <div class="clearfix"></div>
        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.Factuur.KlantId, htmlAttributes: new { @class = "label label-primary col-md-2" })
                </h3>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Factuur.KlantId, Model.AvailableKlanten, @CultureResource.Choose_customer, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Factuur.KlantId, "", new { @class = "text-danger" })
                </div>
</div>
        
        @*@Ajax.ActionLink("Show TeFactureren", "_GetTeFacturerenForKlant", new { kId = Model.SelectedKlant }, new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "teFacturerenTabel",
                InsertionMode = InsertionMode.Replace
            })*@

        <br />
        <div id="teFacturerenTabel"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#Factuur_KlantId").change(function () {
                    var selectedValue = $(this).val();
                    if (selectedValue != "choose customer") {
                       $.ajax({
                        url: '@Url.Action("_GetTeFacturerenForKlant")',
                        type: 'GET',
                        data: { kId: selectedValue },
                        dataType: 'html',
                        success: function(response){
                            $("#teFacturerenTabel").html(response);
                        }
                       })
                    }}
                )
    </script>
}
