@using Asp_Mvc_2015_2016.ViewModels
@model CreateFactuurViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Factuur</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.factuur.FactuurJaar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.factuur.FactuurJaar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.factuur.FactuurJaar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.factuur.FactuurNr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.factuur.FactuurNr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.factuur.FactuurNr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.factuur.FactuurDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.factuur.FactuurDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.factuur.FactuurDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.factuur.Totaal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.factuur.Totaal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.factuur.Totaal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="clearfix"></div>
            <div class="form-group">                
                @Html.LabelFor(model => model.AvailableKlanten, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedKlant, Model.AvailableKlanten, @CultureResource.Choose_customer, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedKlant, "", new { @class = "text-danger" })
                </div>
            </div>

        @Ajax.ActionLink("Show TeFactureren", "_GetTeFacturerenForKlant", new { kId = Model.SelectedKlant }, new AjaxOptions() 
            {
                HttpMethod = "GET",
                UpdateTargetId = "teFacturerenTabel",
                InsertionMode = InsertionMode.Replace
            })
        
        <div id="teFacturerenTabel"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
